<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.storyteller_f.action.giant_explorer.PLUGIN" />

            <category android:name="android.intent.category.DEFAULT" />

            <data
                android:mimeType="*/*"
                android:scheme="content" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Common_ui_list_structure">
        <activity
            android:name=".control.PluginManageActivity"
            android:exported="false"
            android:label="@string/title_activity_plugin_manage"
            android:theme="@style/Theme.Common_ui_list_structure">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".control.WebViewPluginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".control.FragmentPluginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".control.RootAccessActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="false"
            android:label="@string/title_activity_root_access"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".control.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".control.BackgroundTaskConfigActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="false"
            android:label="@string/title_activity_background_task_config"
            android:theme="@style/Theme.Common_ui_list_structure.NoActionBar" />
        <activity
            android:name=".control.MainActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.AboutActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:exported="false"
            android:label="@string/about" />

        <service
            android:name=".service.FileOperateService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${providerAuthority}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file" />
        </provider>
        <provider
            android:name=".service.FileSystemProvider"
            android:authorities="${fileSystemProviderAuthority}"
            android:exported="true" />

        <provider
            android:name=".service.FileSystemProvider"
            android:authorities="${fileSystemProviderEncryptedAuthority}"
            android:exported="true" />
    </application>

</manifest>